* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(212, 23%, 69%);
  font-family: "manrope", sans-serif;
  font-size: 13px;
}

.container {
  width: 22rem;
  height: auto;
  position: relative;
}

.container > img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card-body {
  background-color: hsl(210, 46%, 95%);
  padding: 2rem;
  padding-bottom: 0;
  margin-top: -10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.big-text {
  color: hsl(217, 19%, 35%);
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;

  line-height: 1.4;
}

.small-text {
  color: hsl(214, 17%, 51%);
  line-height: 1.5;
}

/* -----FOOTER----------- */

.footer {
  margin-top: 1.5rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.author-details img {
  width: 2.5rem;
  border-radius: 50%;
}
.author-name {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}

.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.date {
  color: hsl(214, 17%, 51%);
}

.share-icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: hsl(212, 23%, 69%);
}

.share-icon img {
  width: 1.1rem;
  height: 0.9rem;
}


.share-options {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  color: hsl(210, 46%, 95%);
  background-color: hsl(217, 19%, 35%);

  width: 22rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.share-icons-active {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

.share-icons-active span {
  letter-spacing: 5px;
  font-size: 11px;
  color: hsl(212, 23%, 69%);
}

#btn-click-state {
  background-color: hsl(214, 17%, 51%);
}
#btn-click-state img {
  filter: brightness(100);
}

svg {
  display: none;
}

.show {
  opacity: 1;
  visibility: visible;
}

.filter {
  filter: brightness(100);
}


/* --------DESKTOP VIEW --------- */

@media (min-width: 60rem) {
  .container {
    display: flex;
    width: 40rem;
  }

  .container > img {
    width: 250px;
    border-radius: 10px 0 0 10px;
    position: initial;
  }

  .card-body {
    margin-top: 0;
    border-radius: 0 10px 10px 0;
  }

  .footer {
    margin-top: 0.5rem;
  }

  .share-icon {
    position: relative;
  }

  .share-options {
    position: absolute;
    bottom: 30%;
    right: -11%;
    left: auto;
    border-radius: 10px;
    width: auto;
  }
  .share-options::after {
    content: icon;
  }

  #btn-click-state {
    display: none;
  }

  svg {
    display: block;
    position: absolute;
    bottom: -20px;
    right: 6.5rem;
  }

  }